.gridCont {
  height: 90vh;
 display: flex;
}


.filterCont {
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 5px 10px 5px lightgrey;
  position: fixed;
  height: 90vh;
  top:65px;
  background: white;
  z-index: 1;
  background: rgb(122,168,216)


}
.noProd {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px
}

.prodList ,.noProd{
  position: relative;
  left: 20%;
  top:65px;
  width: 75%


}

.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  overflow: auto;
  min-height: 100vh


}

.prodTile {
  width: 300px;
  height:390px;
  border:solid 1px #eee;
  box-shadow: 1px 1px 3px 0 #f2f2f2;
  background-image: linear-gradient(to top,#fafafa 0,#fdfdfd 20%,#fff 60%);
  cursor: pointer;

}
.prodTile img {
  width: 85%;
  height: 60%;
}

.filterList {
  width: 50%;
  min-height: 30%;

}
.noProd {

}
.filterList ul {
  list-style-type: none
}
.prodShortDetails, .prodShortDetails p {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}
.prodShortDetails p{
  line-height: 14px;
  width: 75%;
  max-width: 75%;
  height: 100px;
  text-align: center;
  text-overflow: ellipsis;
  overflow: hidden;
}

.prodShortDetails input {
  padding: 10px 25px;
  background: rgb(140,186,78);
  font-size: 14px;
  color: white;
  font-weight: bold;
  outline: none;
  cursor: pointer;
}
