.nav {
  display: flex;
  list-style-type: none;
  justify-content: flex-end;
  align-items: center;
  background: rgb(166,197,230);
  height: 65px;
  position: fixed;
  width: 100%;
  z-index: 5;
}

.nav li {
  padding: 20px;
}
.nav li a {
  position: relative;
  color:white
}
.nav img {
  width: 30px;
}

.nav li sup {
    position: absolute;
      bottom: 20px;
      font-weight: bold;
      font-size: 16px;
}
